<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class:"nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class:"nav-link"  %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="custom-container">
<div class="header">
    <h1>&nbsp;&nbsp;&nbsp;Joaquin Jose Cuevas Muñoz</h1>
    <h2>&nbsp;&nbsp;&nbsp;Civil Engineering in Computer Science student</h2>
</div>


<div class="row g-4 mt-2">
    <div class="col-12">
        <div class="section">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <strong>&nbsp;&nbsp;&nbsp;Major:</strong> Computer Science<br>
                        <strong>&nbsp;&nbsp;&nbsp;Year of University Enrollment:</strong> 2022<br>
                        <strong>&nbsp;&nbsp;&nbsp;GitHub:</strong> <a href="https://github.com/Joaquincuevas" class="link" target="_blank">github.com/joaquincuevas</a>
                    </p>
                </div>
                <div class="col-md-8">
                    <p>
                        My name is Joaquin Jose Cuevas Muñoz. I am 21 years old and I was born here in Chile. I am currently studying Civil Engineering in Computer Science at Universidad de los Andes.
                </div>
                <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
                    <a class="navbar-brand" href="#">More About Me</a>
                  </nav>
                  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
                    <p>&nbsp;&nbsp;&nbsp;I am a passionate civil engineering student with a strong interest in software development and data analysis. Currently focusing on web technologies and database systems, I enjoy creating applications and web designs that solve real-world problems. I'm actively seeking internship opportunities where I can apply my skills and continue to grow as a developer.</p>
                    <p>&nbsp;&nbsp;&nbsp;I try to maintain an active and varied lifestyle through several hobbies that keep me engaged both physically and mentally. At the gym, I challenge myself with regular workouts to stay fit and strong. On weekends, I often participate in airsoft matches, enjoying the strategy and adrenaline rush that comes with tactical gameplay. Football is another outlet for my competitive spirit, where I join friends for matches that combine teamwork with physical exertion. When I need to unwind, I immerse myself in video games, appreciating both their storytelling and the connections I make with other players. DJing has become my creative expression, where I mix tracks and create atmospheres that move people on the dance floor, constantly exploring new sounds and techniques to refine my skills.</p>
                  </div>
            </div>
        </div>
    </div>
</div>